.App {
}
nav {
  width: 100%;
  height: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 0px;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
}

.social__container {
  width: 60%;
  height: auto;
  margin: 15% auto;
  display: flex;
  justify-content: space-around;
}

.social__container a {
  margin: 0 20px;
  text-align: center;
  padding: 10px 20px;
  height: auto;
  width: 250px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  background: rgb(3, 202, 202);
  border-radius: 5px;
  color: white;
}
.social__icon {
  font-size: 30px;
}

/* Github */
.git__section {
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  padding: 30px 0px;
}

.git__search {
  margin: 0 auto;
  background-color: white;
  padding: 9px 12px;
  width: 80%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
.git__search input {
  width: 90%;
  padding: 3px 8px;
  border: none;
  outline: none;
}
.git__search button {
  width: 10%;
  padding: 5px 8px;
  border: none;
  color: white;
  background-color: rgb(9, 184, 184);
  border-radius: 2px;
}
.git__info {
  display: flex;
  margin: 15px auto;
  justify-content: space-around;
}
.git__info {
  display: flex;
}
.info__wrap {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.info__card {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  border-radius: 3px;
  background-color: white;
  padding: 6px 10px;
  width: 200px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
.info__content__icon {
  font-size: 28px;
  margin: 0 15px;
  width: 55px;
  height: auto;
  background-color: rgb(170, 222, 252);
  padding: 5px 12px;
  text-align: center;
  border-radius: 50%;
}
.text__light {
  color: grey;
  font-size: 12px;
  font-weight: 500;

}
.git__user{
  width: 80%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  
}
.user__extra{
  margin: 10px 0px;
  color: rgba(0,0,0,0.4);
}
.user__info,.user__repos{

  background-color: white;
  padding: 10px 12px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  width: 48%;
}
.user__info__details{
  width: 180px;


}
.user__info__details img{
  width: 70px;
  height: auto;
  border-radius: 50%;
  display: inline;
}
.user__info__details span{
  margin-top:15px;
}
.user__info__details p{
  margin-right: 20px;
}

.user__bio{
  display: block;
  font-size: 14px;
  margin:6px 10px;
  font-weight: 500;
}

.repos{
  border: 1px solid #000;
  height: 200px;
  padding: 10px 15px;
  overflow-x:hidden;
}
.btn{
  border: none;
  padding: 4px 16px;
  font-size: 15px;
  background-color: rgb(10, 189, 189);
  color: white;
  font-weight: 500;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 3px;
  
}
@media only screen and (max-width: 800px) {
  .social__container {
    align-items: center;
    flex-direction: column;
    margin: 15% auto;
  }
  .social__container a {
    margin: 20px 0px;
    text-align: center;
    height: auto;
    /* border:2px solid #000; */
  }
  .git__search {
    padding: 6px 12px;
  }
  .git__search input {
    width: 80%;
  }
  .git__search button {
    width: 20%;
  }
  .info__card {
    /* flex-direction: column; */
    text-align: center;
    margin: 10px 5px;
    padding: 10px 20px;
  }
  .info__content__icon {
    display: none;
  }
  .git__user{
    flex-direction: column;
  }
  .user__info,.user__repos{

    background-color: white;
    padding: 10px 12px;
    /* border: 1px solid #000; */
    width: 100%;
    margin: 10px 0px;
  }
}
